<ol class="breadcrumb">
  <li><span class="text-muted">YOU ARE HERE</span></li>
  <li class="active">Projects</li>
</ol>
<div class="panel panel-default">
<div class="row">
    <div class="col-md-12">
      <div class="panel-heading bg-primary">
              <button type="button" class="btn btn-sm btn-default pull-right mt-xs" ui-sref="app.editProject({id: null})">Create new project</button>
              <div class="pull-right col-md-8 mt-xs"><input ng-model="searchProject" class="form-control input-sm" type="search" placeholder="Search for a service..."/></div>
              <h4 class="widget-title text-white">Projects</h4>
        </div>
      <widget>
            <table class="table table-hover">
                <thead>
                <tr>
                  <th>Title</th>
                  <th>Last updated</th>
                  <th>Elements</th>
                  <th></th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="project in vm.projects | filter:searchProject | orderBy:vm.projects.date" ui-sref="app.editProject({id: project.id})">
                    <td class="col-md-2">{{project.title}}</td>
                    <td class="col-md-2"><span>{{project.date | date: 'short'}}</span></td>
                    <td class="col-md-1">
                      <element ng-repeat="element in project.elements">
                        <element class="element">
                          {{element.model_element}}
                        </element>
                      </element>
                    </td>
                    <td class="text-right col-md-1"><div class="btn-group inline pull-left">
                        <button type="button" class="btn btn-default" ui-sref="app.editProject({id: project.id})">Edit</button>
                        <button type="button" class="btn btn-danger outline" ng-click="vm.delete(project)">Delete</button>
                    </div></td>
                </tr>
                </tbody>
            </table>
        </widget>
    </div>
</div>
</div>
