<div class="panel panel-default">

  <div class="panel-heading bg-primary">
    <div class="pull-right"><input ng-model="searchProject" class="form-control input-sm" type="search" placeholder="Search..."/></div>
    <h5 class="widget-title mt-xs"><i class="fa fa-folder">&emsp;</i>Recent <span class="fw-semi-bold">Projects</span>
    </h5>
  </div>

  <widget>
    <table class="table table-hover mb-0">
      <thead>
      <tr>
        <th>Date</th>
        <th>Name</th>
      </tr>
      </thead>
      <tbody>
      <tr ng-repeat="project in projectsRecently | filter:searchProject">
        <td>{{project.date | date:' MMM dd, hh:mm'}}</td>
        <td>
          <a ui-sref="app.editProject({id: project.id})" >{{project.title}}</a>
        </td>
      </tr>
      </tbody>
    </table>
  </widget>

</div>
