<ol class="breadcrumb">
  <li><span class="text-muted">YOU ARE HERE</span></li>
  <li class="active">Digital Services</li>
</ol>
<div class="row">
    <div class="col-md-12">
        <widget>
            <header>
              <button type="button" class="btn btn-gray pull-right" ui-sref="app.editDigitalService({id: null})">Create new Digital Service</button>
              <div class="pull-right col-md-6"><input ng-model="searchDigitalService" class="form-control input-sm" type="search" placeholder="Search for a service..."/></div>

              <h4 class="widget-title">Digital Services</h4>
            </header>
            <table class="table table-striped">
                <thead>
                <tr>
                  <th>ID</th>
                  <th>Digital Component</th>
                  <th>Tags</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="digitalService in vm.digitalServices | filter:searchDigitalService">
                  <td class="col-md-1">{{digitalService.id}}</td>
                  <td class="col-md-2">{{digitalService.digital_component}}</td>
                  <td><label ng-repeat="tag in digitalService.tags track by $index"><label class="label label-info"> {{tag}}</label>&nbsp;</label></td>
                  <td class="text-right col-md-2"><div class="btn-group inline pull-left">
                        <button type="button" class="btn btn-default btn-small" ui-sref="app.editDigitalService({id: digitalService.id})">Edit</button>
                        <button type="button" class="btn btn-danger outline btn-small" ng-click="vm.delete(digitalService)">Delete</button>
                    </div></td>
                </tbody>
            </table>
        </widget>
    </div>
</div>
