

<widget>
  <div class="widget-title">
    <button type="button" class="btn btn-primary pull-right mt-n-sm" ui-sref="app.editElement({id: null})"><i class="fa fa-plus"></i></button>
    <h5>
      <i class="fa fa-cubes">&emsp;</i>
      Available elements
      <input ng-model="searchElement" class="form-control input-sm mt-sm" type="search" placeholder="Search..."/>
    </h5>
  </div>
    <div class="element-canvas mt-sm">
      <div ng-repeat="element in vm.element | filter:searchElement | orderBy:element.date ">
        <div class="element" data-drag="true" ng-show="element.modelElement" ng-model="element" jqyoui-draggable  data-jqyoui-options="{revert: 'invalid'}">
          {{element.modelElement}}
        </div>
      </div>
    </div>

</widget>
