

<widget>
  <div class="widget-title">
    <button type="button" class="btn btn-primary pull-right mt-n-sm" ui-sref="app.editElement({id: null})"><i class="fa fa-plus"></i></button>
    <h5>
      <i class="fa fa-list">&emsp;</i>
      Available elements
      <input ng-model="searchElement" class="form-control input-sm mt-sm" type="search" placeholder="Search..."/>
    </h5>
  </div>
    <div class="mt-sm">
      <element ng-repeat="element in vm.elements | filter:searchElement">
        <element class="element" data-drag="true" jqyoui-draggable = "{placeholder:true,animate:true}"> {{element.model_element}}</element>&nbsp;
      </element>
    </div>

</widget>
