<ol class="breadcrumb">
  <li><span class="text-muted">YOU ARE HERE</span></li>
  <li ui-sref="app.editProject({id: vm.project.id})">{{vm.project.title}}</li>
  <li class="active">{{vm.project.id ? 'Digitizing' : 'Create new'}}</li>
</ol>


<div class="services-canvas cloud">
  <service ng-repeat="service in vm.project.services">
    <service class="service" data-drag="true" jqyoui-draggable  data-jqyoui-options="{revert: 'invalid'}">
      {{service.digital_component}}
    </service>
  </service>
</div>
<div class="selected-services-canvas">
  <selected-service class="selected-service" ng-repeat="element in vm.project.elements" data-drop="true" ng-model="vm.project.services" jqyoui-droppable="{multiple:true}">
    Drop service here
  </selected-service>
</div>

<div class="digital-canvas">
<element ng-repeat="element in vm.project.elements">
  <element class="element" data-drop="true" ng-model="vm.project.services" jqyoui-droppable="{animate: true, multiple:true}">
    {{element.model_element}}{{vm.project.services.digital_component}}
  </element>
</element>

</div>

